.hero3 {
    background-color: $colorPrincipal;
    color: $colorTexto;
    .grilla-quienes {
        display: grid;
    }
}
.grilla-texto {
    position: relative;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2   ;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
}
.grande {
    font-size: 3rem;
    &:hover {
        font-size: 1.85rem;
        transition-delay: 0.3s;
      }
}
.parrafo {
    font-size: 1.5rem;
}

.grilla-cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}
.carta1 {
    grid-column: 5/6;
    grid-row: 1;
    color: #1b1b1b;
    width: 210px;
    height: 350px;
    position: relative;
    outline: 6px solid #f5f5f5;
    border-radius: 8px;
    line-height: 150%;
    padding: 16px;
    background: #ff930f;
    background-blend-mode: multiply;
    background: linear-gradient(to top, #ff930f, #ffcc33);
    transition: background-color 1s ease-in-out;
    overflow: hidden;
    align-items: center;
    margin: 2rem;
  }
  
  .carta1-front {
    bottom: 16px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  .carta1-back {
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  
  /*Text*/
  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  /*Text divider*/
  .title::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 2px;
    margin: 2px auto;
    background-color: #1b1b1b;
  }
  
  
  /*Hover*/
  .carta1:hover {
    background-color: #1b1b1b25;
  }
  
  .carta1:hover .carta1-front {
    transform: translateX(-100%);
  }
  
  .carta1:hover .carta1-back {
    transform: translateX(0);
  }
  
  
  .carta2 {
    grid-column: 2/3;
    color: #1b1b1b;
    width: 210px;
    height: 350px;
    position: relative;
    outline: 6px solid #f5f5f5;
    border-radius: 8px;
    line-height: 150%;
    padding: 16px;
    background: #ff930f;
    background-blend-mode: multiply;
    background: linear-gradient(to top, #ff930f, #ffcc33);
    transition: background-color 1s ease-in-out;
    overflow: hidden;
    margin: 2rem;
  }
  
  .carta2-front {
    bottom: 16px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  .carta2-back {
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  
  /*Text*/
  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  /*Text divider*/
  .title::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 2px;
    margin: 2px auto;
    background-color: #1b1b1b;
  }
  
  
  /*Hover*/
  .carta2:hover {
    background-color: #1b1b1b25;
  }
  
  .carta2:hover .carta2-front {
    transform: translateX(-100%);
  }
  
  .carta2:hover .carta2-back {
    transform: translateX(0);
  }
  
  
  .carta3 {
    grid-column: 8/9;
    color: #1b1b1b;
    width: 210px;
    height: 350px;
    position: relative;
    outline: 6px solid #f5f5f5;
    border-radius: 8px;
    line-height: 150%;
    padding: 16px;
    background: #ff930f;
    background-blend-mode: multiply;
    background: linear-gradient(to top, #ff930f, #ffcc33);
    transition: background-color 1s ease-in-out;
    overflow: hidden;
     margin: 2rem;
  }
  
  .carta3-front {
    bottom: 16px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  .carta3-back {
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  
  /*Text*/
  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  /*Text divider*/
  .title::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 2px;
    margin: 2px auto;
    background-color: #1b1b1b;
  }
  
  
  /*Hover*/
  .carta3:hover {
    background-color: #1b1b1b25;
  }
  
  .carta3:hover .carta3-front {
    transform: translateX(-100%);
  }
  
  .carta3:hover .carta3-back {
    transform: translateX(0);
  }

.pic {
    margin-bottom: 1.2rem;
}